<form style="margin-top:5px;" class="add-user form-inline" role="form">
  <div class="form-group">
    <input autofocus type="text" name="added_username"
           class="input-sm form-control" placeholder="Enter username">
  </div>
  <button type="submit" class="add-user btn btn-primary btn-xs">Add person</button>
  <button type="button" class="cancel-add-user btn btn-primary btn-xs">x</button>
</form>