<form style="margin-top:10px;" class="add-user form-inline" role="form">
  <div class="form-group">
    <input type="text" class="input-sm form-control" placeholder="Enter username">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Add user</button>
</form>