<form style="margin-top:10px;" class="add-user form-inline" role="form">
  <div class="form-group">
    <input type="text" name="[added_username]"
           class="project-user input-sm form-control" placeholder="Enter username">
  </div>
  <button type="submit" class="add-user btn btn-primary btn-sm">Add user</button>
  <button type="submit" class="cancel-add-user btn btn-primary btn-sm">x</button>
</form>