<div class="row" style="margin-top:10px">
  <form role="form" class="edit-project col-md-6">
    <div class="form-group">
      <input type="text" name="project[name]" class="input-lg form-control" value="<%= project.escape('name') %>">
    </div>

    <div class="form-group">
      <input type="submit" value="Rename project" project-id="<%= project.escape('id') %>" class="rename-project btn btn-primary btn-xs">
      <input type="button" value="Cancel" project-id="<%= project.escape('id') %>" class="cancel-rename-project btn btn-primary btn-xs">
    </div>
  </form>
</div>