<h4>Projects</h4>
<hr>
<% projects.each(function (project) { %>
  <div class="project-row row" project-id="<%= project.escape('id') %>">
    <a class="project-link col-md-2" href="#"><%= project.escape('name') %></a>
  </div>
<% }) %>

<br>
<a href="#" class="create-project">Create project</a>

<script>
  $('.project-row').hover(
    function () {
      var editButton = "<a class='edit-project' project-id='"
                       + BC.getID(this, 'project')
                       + "' href='#' style='float:right;'>Edit</a>";
      $(this).append($(editButton));
    },
    function () {
      $(this).find('.edit-project').remove();
    });
</script>