<h4>
  <span class="vertical-mid">Projects &nbsp;</span>
  <button class="create-project btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
</h4>

<hr>

<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <% projects.each(function (project) { %>
    <li><a class="project-link" project-id="<%= project.escape('id') %>" href="#"><%= project.escape('name') %></a></li>
  <% }) %>
</ul>

<script>
  $('.project-link').hover(
    function () {

      var deleteButton = "<button type='button' class='btn btn-info btn-xs delete-project pull-right' project-id='"
                         + BC.getID(this, 'project')
                         + "' href='#'><span class='glyphicon glyphicon-remove'></span></button>";
      $(this).append($(deleteButton));
    },
    function () {
      $(this).find('.delete-project').remove();
    });

  $('.create-project').tooltip({
    placement: 'bottom',
    delay: 300,
    title: "Create a project"
  });
</script>