<h4>Projects</h4>
<hr>

<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <% projects.each(function (project) { %>
    <li><a class="project-link" project-id="<%= project.escape('id') %>" href="#"><%= project.escape('name') %></a></li>
  <% }) %>
</ul>

<br>
<a href="#" class="create-project">Create project</a>

<script>
  $('.project-link').hover(
    function () {

      var deleteButton = "<button type='button' class='btn btn-danger btn-xs delete-project pull-right' project-id='"
                         + BC.getID(this, 'project')
                         + "' href='#'><span class='glyphicon glyphicon-remove'></span></button>";
      $(this).append($(deleteButton));
    },
    function () {
      $(this).find('.delete-project').remove();
    });
</script>