<h1 style="margin-top:0px; cursor:pointer;" class="row project-name" project-id="<%= project.escape('id') %>">
  <%= project.escape('name') %>
</h1>

<div class="row project-users"></div>

<div class="row task-lists-container"></div>

<script>
  $('.project-name').hover(
    function () {
      $(this).append('<small class="rename-note"><small>click to rename</small></small>');
    },
    function () {
      $('.rename-note').hide();
    }
  );
</script>