<h1 style="margin-top:0px; cursor:pointer;" class="row project-name" project-id="<%= project.escape('id') %>">
  <%= project.escape('name') %>
</h1>

<div class="row project-users">
  <h5 style="color:#00B351;">Participants</h5>
  <% projectUsers.each(function(user) { %>
    <%= user.escape('username') %> <br>
  <% }) %>
  <a href="#" class="add-user"><small>Add a participant</small></a>
</div>

<div class="row task-lists">
</div>

<script>
  $(function() {
    $( ".lists-container" ).sortable({
      axis: 'y'
    });
    $( ".lists-container" ).disableSelection();
  });

  $('.project-name').hover(
    function () {
      $(this).append('<small class="rename-note"><small>click to rename</small></small>');
    },
    function () {
      $('.rename-note').hide();
    })
</script>