<form style="margin-top:10px;" class="create-task-list form-inline" role="form">
  <div class="form-group">
    <input type="text" name="created_task_list"
           class="input-sm form-control" placeholder="Give the list a title">
  </div>
  <button type="submit" class="create-task-list btn btn-primary btn-xs">Add task list</button>
  <button type="button" class="cancel-create-task-list btn btn-primary btn-xs">x</button>
</form>