<div class="panel panel-primary">
  <div class="panel-heading" style="padding:3px 2px 4px 10px; cursor:pointer;">
    <div class="task-list-title" task-list-id="<%= taskList.escape('id') %>">
      <span style="text-decoration: underline;"><%= taskList.escape('title') %></span>
      <button class="delete-task-list pull-right btn btn-primary btn-xs"
           style="cursor:pointer;"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>
</div>

<script>

  $(".unfinished-tasks").sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    opacity: 0.7,
    forcePlaceholderSize: true,
    tolerance: "pointer",
    items: ".task"
  });
  $(".tasks").disableSelection();
</script>