Thank you for signing up for a Fnsh account!

Your email is <%= @user.email %>. Please use it to login to the application.

You can login to Fnsh by <a href="http://fnsh.herokuapp.com/session/new">clicking here.</a>

Cheers,
Adler Santos
Creator of Fnsh