<div class="col-md-4"></div>
<div class="col-md-3">
  <h2>Fnsh <span class="glyphicon glyphicon-ok" style="color:#3276B1;"></span></h2>
  <p>Pave your way to awesome productivity!</p>
  <form action="/users" method="post" role="form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label for="email">Email:</label> <br>
      <input type="text" name="user[email]" id="email" class="form-control" placeholder="you@awesome.com" >
    </div>
    <div class="form-group">
      <label for="password">Password:</label> <br>
      <input type="password" name="user[password]" id="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="display-name">Name:</label> <br>
      <input type="text" name="user[display_name]" id="display-name" class="form-control" placeholder="Your full name">
    </div>
    <div class="form-group">
      <input type="submit" value="Sign up" class="btn btn-primary btn-small" />
    </div>
    <p>
    Already have an account? <%= link_to "Login here.", new_session_path %>
    </p>
  </form>
</div>
<div class="col-md-4"></div>
