<% if (subtasks.length > 0) { %>
  <h4 class="mt-0">Subtasks</h4>

  <% _(subtasks.where({finished: false})).each(function(subtask) { %>
    <div class="subtask subtask-<%= subtask.escape('id') %> ht-20 cursor-pointer"></div>
  <% }) %>

  <% _(subtasks.where({finished: true})).each(function(subtask) { %>
    <div class="subtask subtask-<%= subtask.escape('id') %> ht-20 cursor-pointer"></div>
  <% }) %>

  <div class="ht-10"></div>
<% } %>

<button class="put-add-subtask-form btn btn-primary btn-xs">
  <span class="glyphicon glyphicon-list"></span>&nbsp;
  <span class="va-middle">Add a subtask</span>
</button>
<form class="create-subtask hidden form-inline wd-350" role="form">
  <div class="form-group">
    <input autofocus type="text" name="subtask[name]" placeholder="Enter subtask name"
           class="subtask-name open-text-input form-control">
  </div>
  <button type="submit" class="add-subtask btn btn-primary btn-xs">Add subtask</button>
  <button type="button" class="cancel-add-subtask btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</form>
