<form style="margin: 5px 0 0 5px; width:250px;" class="add-task form-inline" role="form">
  <div class="form-group">
    <input type="text" name="added_task" style="height:20px;"
           class="input-sm form-control" placeholder="Enter task name">
  </div>
  <button type="submit" class="add-task btn btn-primary btn-xs">Add task</button>
  <button type="button" class="cancel-add-task btn btn-primary btn-xs">x</button>
</form>