<% comments.each(function(comment) { %>
  <p><strong><%= comment.get('user').username %></strong> <%= comment.escape('body') %></p>
<% }) %>

<hr style="margin-top:10px; margin-bottom:15px;">

<form class="create-comment">
  <textarea class="input form-control" name="comment[body]"
            placeholder="Write a comment.." style="margin-bottom:5px;"></textarea>
  <input type="hidden" name="comment[task_id]" value="<%= task.get('id') %>">
  <button class="create-comment btn btn-primary btn-xs" type="submit">Comment</button>
</form>