<% if (comments.length > 0){ %>
  <% comments.each(function(comment) { %>
    <p><strong><%= comment.get('user').display_name %></strong> &nbsp;<%= comment.escape('body') %></p>
  <% }) %>

  <hr class="mt-10 mb-15">
<% } %>

<form class="create-comment">
  <textarea class="input form-control mb-5" name="comment[body]"
            placeholder="Write a comment.."></textarea>
  <input type="hidden" name="comment[task_id]" value="<%= task.get('id') %>">
  <button class="create-comment btn btn-primary btn-xs" type="submit">Comment</button>
</form>