<h4>
  <div class="col-md-2" style="padding-left:5px; width:33px; cursor:pointer;">
  <% if (task.get('finished')) { %>
    <span class="glyphicon glyphicon-check" style="top:0;"></span>
  <% } else { %>
    <span class="glyphicon glyphicon-unchecked" style="top:0;"></span>
  <% } %>
  </div>
  <%= task.escape('name') %>
</h4>

<form class="task-details">
  <textarea class="task-description form-control" name="task[name]" rows="2" placeholder="Description"></textarea>
</form>

<script>
  $('textarea').autosize();
</script>