/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

.container {
  max-width: 1250px;
}

.task-description-hover {
  background-color: #DEDEDE;
  border-radius: 3px;
}

.line-through {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.sortable-placeholder {
  background-color: #EEEEEE;
}

.open-text-input {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  outline: none;
  box-shadow:none !important;
  border-radius: 0;
}
