/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

.row {
  margin-left:0 !important;
  margin-right:0 !important;
}

body {
  background-color: #FBFBFB;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.button_to {
  display: inline-block;
  vertical-align:middle;
}

@import "twitter/bootstrap";

.container {
  max-width: 1250px;
}

.task-avatar {
  width:18px;
  height:18px;
  margin-right:10px;
  border: 1px solid black;
}

.task-description-hover {
  background-color: #DEDEDE;
  border-radius: 3px;
}

.task-no-assignee {
  width:18px;
  height:18px;
  margin-right:10px;
}

.line-through {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.sortable-placeholder {
  background-color: #EEEEEE;
}

.open-text-input {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  outline: none;
  box-shadow:none !important;
  border-radius: 0;
}

.sidebar-nav-fixed {
     position:fixed;
     top:65px;
     width:25%;
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

.bootbox .modal-dialog {
  width:450px;
}