/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

.assignee-label {
  padding-bottom: 5px;
  margin-left: 2px;
}

body {
  background-color: #FBFBFB;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.bootbox .modal-dialog {
  width:450px;
}

.button_to {
  display: inline-block;
  vertical-align:middle;
}

.col-divider {
  width: 15px;
}

.container {
  max-width: 1250px;
}

.create-subtask {
  margin: 5px 0;
}

.create-subtask .subtask-name {
  height: 20px;
  padding-left: 0px;
}

.create-task {
  margin: 5px 0 0 37px;
  width: 350px;
}

.create-task .task-name {
  height: 20px;
  padding-left: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.delete-task, .delete-subtask {
  color: grey;
}

.detail-buttons {
  margin-bottom: 8px;
  display: block;
}

.detail-well {
  width: 357px;
}

#first-hr {
  margin: 10px 0;
}

.hidden {
  display: none;
}

.ht-10 {
  height: 10px;
}

.ht-20 {
  height: 20px;
}

.ht-30 {
  height: 30px;
}

.inline-block {
  display: inline-block;
}

.light-blue {
  color: #39B3D7;
}

.line-through {
  text-decoration: line-through;
}

li.assignee a {
  text-align: left;
  padding: 1px 10px;
}

.main-blue {
  color: #3276B1;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.no-padding {
  padding: 0 0 0 0;
}

.open-text-input {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  outline: none;
  box-shadow:none !important;
  border-radius: 0;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-0 {
  padding-left: 0px;
}

.project-name {
  margin-top:0px;
}

#projects-nav {
  max-width: 300px;
}

.put-add-task-form {
  margin-left: 37px;
}

.rename-inline-task .form-group {
  margin-bottom: 1px;
  width: 230px;
}

.rename-inline-task input {
  height: 20px;
  padding-left: 0px;
  padding-bottom: 7px;
}

.rename-subtask {
  display: inline;
}

.rename-subtask .form-group {
  margin-bottom: 1px;
  width: 190px;
}

.rename-task-list .task-name {
  height: 20px;
  padding-left: 1px;
  color: white;
}

.row {
  margin-left:0 !important;
  margin-right:0 !important;
}

.sidebar-nav-fixed {
     position:fixed;
     top:65px;
     width:25%;
 }

.sortable-placeholder {
  background-color: #EEEEEE;
}

.subtask-checkbox {
  margin: 0 5px 0;
}

.subtask-name {
  padding-bottom: 6px;
}

.task-avatar {
  width:18px;
  height:18px;
  margin-right:10px;
  border: 1px solid black;
}

.task-checkbox {
  margin-left: 5px;
  width: 30px;
}

.task-description-hover {
  background-color: #DEDEDE;
  border-radius: 3px;
}

.task-detail {
  padding-left:20px;
  padding-right:0;
}

.task-list-heading {
  padding: 3px 2px 4px 10px;
}

.task-no-assignee {
  width:18px;
  height:18px;
  margin-right:10px;
}

.tasks {
  margin: 15px 20px;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.va-bottom {
  vertical-align: bottom;
}

.va-middle {
  vertical-align: middle;
}

.wd-250 {
  width: 250px;
}

.wd-350 {
  width: 350px;
}

.white {
  color: white;
}