  <h5 style="color:#39B3D7;">Participants</h5>

  <% projectUsers.each(function(user) { %>
    <%= user.escape('username') %> <br>
  <% }) %>

  <a href="#" class="add-user"><small>Add a participant</small></a>